html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, rgba(22, 198, 86, 0.2), rgba(157, 17, 62, 0.1)), url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 20px;
    flex-direction: column;
}

header {
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: white;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="date"], input[type="file"], textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    header h1 {
        font-size: 1.5em;
    }

    button {
        padding: 8px;
    }
}
